body {
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.App {
  text-align: center;
}

.App h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.4rem;
  margin-top: 2%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-family: 'Lato', sans-serif;
}

input {
  border-radius: 5px;
}

select {
  border-radius: 5px;
}

button {
  border: 1px solid #355C7D;
  border-radius: 5px;
  background: #C06C84;
  color: white;
  width: 75px;
  font-family: 'Lato', sans-serif;
}